# System Files
Thumbs.db
.DS_Store

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
bundle.js
npm-debug.log


# IntelliJ
*.iml
/.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings